<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ppw.graduation.project.model.mapper.UserMapper" >
  <resultMap id="BaseResultMap" type="com.ppw.graduation.project.model.entity.User" >
    <id column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="uname" property="uname" jdbcType="VARCHAR" />
    <result column="upwd" property="upwd" jdbcType="VARCHAR" />
    <result column="tel" property="tel" jdbcType="VARCHAR" />
    <result column="picture" property="picture" jdbcType="VARCHAR" />
    <result column="level" property="level" jdbcType="TINYINT" />
    <result column="is_active" property="isActive" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    user_id, uname, upwd, tel, picture, level, is_active
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user
    where user_id = #{userId,jdbcType=INTEGER}
  </select>


  <select id="selectByUname" resultMap="BaseResultMap" parameterType="java.lang.String">
    select
    <include refid="Base_Column_List" />
    from user
    where uname = #{uname,jdbcType=VARCHAR}
  </select>



  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ppw.graduation.project.model.entity.User" >
    insert into user (user_id, uname, upwd, 
      tel, picture, level, 
      is_active)
    values (#{userId,jdbcType=INTEGER}, #{uname,jdbcType=VARCHAR}, #{upwd,jdbcType=VARCHAR}, 
      #{tel,jdbcType=VARCHAR}, #{picture,jdbcType=VARCHAR}, #{level,jdbcType=TINYINT}, 
      #{isActive,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" keyProperty="userId" useGeneratedKeys="true" parameterType="com.ppw.graduation.project.model.entity.User" >
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="uname != null" >
        uname,
      </if>
      <if test="upwd != null" >
        upwd,
      </if>
      <if test="tel != null" >
        tel,
      </if>
      <if test="picture != null" >
        picture,
      </if>
      <if test="level != null" >
        level,
      </if>
      <if test="isActive != null" >
        is_active,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="uname != null" >
        #{uname,jdbcType=VARCHAR},
      </if>
      <if test="upwd != null" >
        #{upwd,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="picture != null" >
        #{picture,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        #{level,jdbcType=TINYINT},
      </if>
      <if test="isActive != null" >
        #{isActive,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ppw.graduation.project.model.entity.User" >
    update user
    <set >
      <if test="uname != null" >
        uname = #{uname,jdbcType=VARCHAR},
      </if>
      <if test="upwd != null" >
        upwd = #{upwd,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        tel = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="picture != null" >
        picture = #{picture,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        level = #{level,jdbcType=TINYINT},
      </if>
      <if test="isActive != null" >
        is_active = #{isActive,jdbcType=TINYINT},
      </if>
    </set>
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ppw.graduation.project.model.entity.User" >
    update user
    set uname = #{uname,jdbcType=VARCHAR},
      upwd = #{upwd,jdbcType=VARCHAR},
      tel = #{tel,jdbcType=VARCHAR},
      picture = #{picture,jdbcType=VARCHAR},
      level = #{level,jdbcType=TINYINT},
      is_active = #{isActive,jdbcType=TINYINT}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
<update id="updateByTelSelective" parameterType="com.ppw.graduation.project.model.entity.User" >
    update user
    set uname = #{uname,jdbcType=VARCHAR},
      upwd = #{upwd,jdbcType=VARCHAR}
    where tel = #{tel,jdbcType=VARCHAR} and is_active = 1
  </update>

  <!--查询用户是否存在-->
  <select id="isExistsUname" resultType="java.lang.Integer">
     select count(*) from user where uname = #{uname}
  </select>

  <!--查询手机号是否存在-->
  <select id="isExistsPhone" resultType="java.lang.Integer">
     select count(*) from user where tel = #{phone}
  </select>

  <!--更改头像url-->
  <update id="updatePicture">
    update user
    set picture = #{picture}
    where user_id = #{userId}
  </update>
</mapper>